KERNEL_ARCH_OBJS=\
kernel/arch/amd64/start.S.o \
kernel/arch/amd64/boot.S.o \
kernel/arch/amd64/memmgr.o \
kernel/arch/amd64/memmgr.S.o \
kernel/arch/amd64/alloc.o \
kernel/arch/amd64/gdt.o \
kernel/arch/amd64/idt.o \
kernel/arch/amd64/idt.S.o \
kernel/arch/amd64/pic.o \
kernel/arch/amd64/gdt.S.o \
kernel/arch/amd64/hid/ps2.o \
kernel/arch/amd64/pit.o \
kernel/arch/amd64/context_switch.S.o